<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Escuela/app/assets/stylesheets/styles.css">
    <title>Horario 4</title>
</head>
<body>
    <header>
        <h1>Cuarto semestre</h1>
        <p>Ingenier@ en Sistemas Computacionales</p>
    </header>
    <div id="reloj">
        00 : 00 : 00
       </div>
    <main>
        <div class="container">
            <div class="materia">
                <a href="mailto:hector.flores@colima.tecnm.mx">Correo</a>
                <%= image_tag("ecuaciones.jpeg", :alt => "ECUACIONES DIFERENCIALES") %>
            <a href="https://meet.google.com/ner-kqsp-wgc?authuser=0&hs=179" target ="_blank">ECUACIONES DIFERENCIALES 7-8</a>
            </div>

            <div class="materia">
                <a href="mailto:alira@colima.tecnm.mx">Correo</a>
                 <%= image_tag("database.png", :alt => "BASE DE DATOS") %>
                <link to href="https://us04web.zoom.us/j/73327032967?pwd=is2PKyrJ6MJY_QAyi1gwQgGM55lZNR.1" target ="_blank">FUNDAMENTOS DE BASES DE DATOS 8-9</a>  
            </div>
            <div class="materia">
                <a href="mailto:aortiz@colima.tecnm.mx">Correo</a>
                 <%= image_tag("electricos.jpeg", :alt => "PRINCIPIOS") %>
                <a href="https://meet.google.com/bqp-zenk-tsb" target ="_blank">PRINCIPIOS ELECTRICOS Y APLICACIONES DIGITALE 9-10</a>
            </div>
            <div class="materia">
                <a href="mailto:sergio.urena@colima.tecnm.mx">Correo</a>
                 <%= image_tag("programacion.webp", :alt => "TOPICOS") %>
                <a href="https://meet.google.com/iqo-tgqz-xgt?hs=224" target ="_blank">TOPICOS AVANZADOS DE PROGRAMACION 10-11</a>    
            </div>
            <div class="materia">
                <a href="mailto:jose.cardenas@colima.tecnm.mx">Correo</a>
                 <%= image_tag("simulacion.jpeg", :alt => "SIMULACION") %>
                <a href="https://meet.google.com/edk-inuu-xqx" target ="_blank">SIMULACION 11-12</a>
            </div>
            <div class="materia">
                <a href="mailto:carlos.hernandez@colima.tecnm.mx">Correo</a>
                 <%= image_tag("metodos.jpeg", :alt => "METODOS NUM.") %>
            <a href="https://meet.google.com/rjr-axoz-cmb?hs=224" target ="_blank">METODOS NUMERICOS 12-13</a>
            </div> 
            <div class="materia">
                <%= image_tag("itcolima.svg", :alt => "SIITEC") %>
                <a href="https://siitec.colima.tecnm.mx/" target ="_blank">SIITEC</a>
            </div> 
            <div class="materia">
                <%= image_tag("classroom.jpeg", :alt => "CLASSROOM") %>
                <a href="https://classroom.google.com/h" target ="_blank">CLASSROOM</a>
            </div> 
        </div>
    </main>
    <script src="./assets/script/reloj.js"></script>
</body>
</html>